@page "/estudiantes/edit"
@using Microsoft.EntityFrameworkCore
@using TareaFinal.Modelos
@inject IDbContextFactory<TareaFinal.Modelos.AppDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject TareaFinal.Modelos.AppDbContext DB

<PageTitle>Editar Estudiante</PageTitle>
<h2 class="centrar"><b>Editar Estudiante</b></h2>


<hr />
@if (Estudiante is null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <div class="content">
        <EditForm method="post" Model="Estudiante" OnValidSubmit="UpdateEstudiante" FormName="edit" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary role="alert" />
            <input type="hidden" name="Estudiante.Id" value="@Estudiante.Id" />
            <div class="row">
                <div class="col-md-3">
                    <label for="matricula" class="form-label"><b>Matrícula</b></label>
                    <InputText id="matricula" @bind-Value="Estudiante.Matricula" class="form-control" />
                    <ValidationMessage For="() => Estudiante.Matricula" class="text-danger" />
                </div>
                <div class="col-md-3">
                    <label for="cedula" class="form-label"><b>Cédula</b></label>
                    <InputText id="cedula" @bind-Value="Estudiante.Cedula" class="form-control" />
                    <ValidationMessage For="() => Estudiante.Cedula" class="text-danger" />
                </div>
                <div class="col-md-3">
                    <label for="fechanacimiento" class="form-label"><b>Fecha de Nacimiento</b></label>
                    <InputDate id="fechanacimiento" @bind-Value="Estudiante.FechaNacimiento" class="form-control" aria-required="true" />
                    <ValidationMessage For="() => Estudiante.FechaNacimiento" class="text-danger" />
                </div>
                <div class="col-md-3">
                    <label for="fechaingreso" class="form-label"><b>Fecha de Ingreso</b></label>
                    <InputDate id="fechaingreso" @bind-Value="Estudiante.FechaIngreso" class="form-control" />
                    <ValidationMessage For="() => Estudiante.FechaIngreso" class="text-danger" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="nombre" class="form-label"><b>Nombre</b></label>
                    <InputText id="nombre" @bind-Value="Estudiante.Nombre" class="form-control" aria-required="true" />
                    <ValidationMessage For="() => Estudiante.Nombre" class="text-danger" />
                </div>
                <div class="col-md-6">
                    <label for="apellido" class="form-label"><b>Apellido</b></label>
                    <InputText id="apellido" @bind-Value="Estudiante.Apellido" class="form-control" />
                    <ValidationMessage For="() => Estudiante.Apellido" class="text-danger" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label for="sexo" class="form-label"><b>Sexo</b></label>
                    <InputSelect id="sexo" @bind-Value="Estudiante.Sexo" class="form-select">
                        <option checked="@(Estudiante!.Sexo== "Masculino")" value="Masculino">Masculino</option>>
                        <option checked="@(Estudiante!.Sexo== "Femenino")" value="Femenino">Femenino</option>
                    </InputSelect>
                    <ValidationMessage For="() => Estudiante.Sexo" class="text-danger" />
                </div>
                <div class="col-md-4">
                    <label for="estadocivil" class="form-label"><b>Estado Civil</b></label>
                    <InputSelect id="estadocivil" @bind-Value="Estudiante.EstadoCivil" class="form-select">
                        <option checked="@(Estudiante!.EstadoCivil== "Casado")" value="Casaso">Casado</option>
                        <option checked="@(Estudiante!.EstadoCivil== "Divorciado")" value="Divorciado">Divorciado</option>
                        <option checked="@(Estudiante!.EstadoCivil== "Separado")" value="Separado">Separado</option>
                        <option checked="@(Estudiante!.EstadoCivil== "Soltero")" value="Soltero">Soltero</option>
                        <option checked="@(Estudiante!.EstadoCivil== "Viudo")" value="Viudo">Viudo</option>
                    </InputSelect>
                    <ValidationMessage For="() => Estudiante.EstadoCivil" class="text-danger" />
                </div>
                <div class="col-md-4">
                    <label for="ocupacion" class="form-label"><b>Ocupación</b></label>
                    <InputSelect id="ocupacion" @bind-Value="Estudiante.Ocupacion" class="form-select">
                        @foreach (var ocupacion in Ocupaciones)
                        {
                            <option value="@ocupacion.Nombre">@ocupacion.Nombre</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Estudiante.Ocupacion" class="text-danger" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label for="tiposangre" class="form-label"><b>Tipo de Sangre</b></label>
                    <InputSelect id="tiposangre" @bind-Value="Estudiante.TipoSangre" class="form-select">
                        <option checked="@(Estudiante!.TipoSangre== "O -")" value="O -">O -</option>
                        <option checked="@(Estudiante!.TipoSangre== "O +")" value="O +">O +</option>
                        <option checked="@(Estudiante!.TipoSangre== "A -")" value="A -">A -</option>
                        <option checked="@(Estudiante!.TipoSangre== "A +")" value="A +">A +</option>
                        <option checked="@(Estudiante!.TipoSangre== "B -")" value="B -">B -</option>
                        <option checked="@(Estudiante!.TipoSangre== "B +")" value="B +">B +</option>
                        <option checked="@(Estudiante!.TipoSangre== "AB -")" value="AB -">AB -</option>
                        <option checked="@(Estudiante!.TipoSangre== "AB +")" value="AB +">AB +</option>
                    </InputSelect>
                    <ValidationMessage For="() => Estudiante.TipoSangre" class="text-danger" />
                </div>
                <div class="col-md-4">
                    <label for="nacionalidad" class="form-label"><b>Nacionalidad</b></label>
                    <InputSelect id="nacionalidad" @bind-Value="Estudiante.Nacionalidad" class="form-select">
                        @foreach (var nacionalidad in Nacionalidades)
                        {
                            <option value="@nacionalidad.Nombre">@nacionalidad.Nombre</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Estudiante.Nacionalidad" class="text-danger" />
                </div>
                <div class="col-md-4">
                    <label for="religion" class="form-label"><b>Religión</b></label>
                    <InputSelect id="religion" @bind-Value="Estudiante.Religion" class="form-select">
                        @foreach (var religion in Religiones)
                        {
                            <option value="@religion.Nombre">@religion.Nombre</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Estudiante.Religion" class="text-danger" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label for="telefono" class="form-label"><b>Teléfono</b></label>
                    <InputText id="telefono" @bind-Value="Estudiante.Telefono" class="form-control" />
                    <ValidationMessage For="() => Estudiante.Telefono" class="text-danger" />
                </div>
                <div class="col-md-3">
                    <label for="email" class="form-label"><b>Email</b></label>
                    <InputText id="email" @bind-Value="Estudiante.Email" class="form-control" />
                    <ValidationMessage For="() => Estudiante.Email" class="text-danger" />
                </div>
                <div class="col-md-6">
                    <label for="direccion" class="form-label"><b>Dirección</b></label>
                    <InputText id="direccion" @bind-Value="Estudiante.Direccion" class="form-control" />
                    <ValidationMessage For="() => Estudiante.Direccion" class="text-danger" />
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <label for="nombrepadre" class="form-label"><b>Nombre del  Padre</b></label>
                    <InputText id="nombrepadre" @bind-Value="Estudiante.NombrePadre" class="form-control" />
                    <ValidationMessage For="() => Estudiante.NombrePadre" class="text-danger" />
                </div>
                <div class="col-md-6">
                    <label for="nombremadre" class="form-label"><b>Nombre de la Madre</b></label>
                    <InputText id="nombremadre" @bind-Value="Estudiante.NombreMadre" class="form-control" />
                    <ValidationMessage For="() => Estudiante.NombreMadre" class="text-danger" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="tipocolegioestudio" class="form-label"><b>Institución de Origen</b></label>
                    <InputSelect id="tipocolegioestudio" @bind-Value="Estudiante.TipoColegioEstudio" class="form-select">
                        <option checked="@(Estudiante!.TipoColegioEstudio== "Público")" value="Público">Público</option>
                        <option checked="@(Estudiante!.TipoColegioEstudio== "Privado")" value="Privado">Privado</option>
                    </InputSelect>
                    <ValidationMessage For="() => Estudiante.TipoColegioEstudio" class="text-danger" />
                </div>
                <div class="col-md-6">
                    <label for="carrera" class="form-label"><b>Carrera</b></label>
                    <InputSelect id="carrera" @bind-Value="Estudiante.Carrera" class="form-select">
                        @foreach (var carrera in Carreras)
                        {
                            <option value="@carrera.Nombre">@carrera.Nombre</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Estudiante.Carrera" class="text-danger" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="observaciones" class="form-label"><b>Observaciones</b></label>
                    <InputTextArea id="observaciones" @bind-Value="Estudiante.Observaciones" class="form-control"></InputTextArea>
                    <ValidationMessage For="() => Estudiante.Observaciones" class="text-danger" />
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary"><b>Guardar</b></button> | <a href="/estudiantes" class="btn btn-primary"><b>Volver al Listado</b></a>
                </div>
            </div>
        </EditForm>
    </div>
}



@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Estudiante? Estudiante { get; set; }

    public List<Ocupacion> Ocupaciones = new List<Ocupacion>();
    public List<Nacionalidad> Nacionalidades = new List<Nacionalidad>();
    public List<Religion> Religiones = new List<Religion>();
    public List<Carrera> Carreras = new List<Carrera>();

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Estudiante ??= await context.Estudiante.FirstOrDefaultAsync(m => m.Id == Id);

        if (Estudiante is null)
        {
            NavigationManager.NavigateTo("notfound");
        }

        Carreras = DB.Carrera.ToList(); //Carga los datos de carreras
        Ocupaciones = DB.Ocupacion.ToList(); //Carga los datos de ocupaciones
        Nacionalidades = DB.Nacionalidad.ToList(); //Carga los datos de nacionalidades
        Religiones = DB.Religion.ToList(); //Carga los datos de religiones
        Carreras = DB.Carrera.ToList(); //Carga los datos de carreras
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateEstudiante()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Estudiante!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!EstudianteExists(Estudiante!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/estudiantes");
    }

    private bool EstudianteExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Estudiante.Any(e => e.Id == id);
    }
}
