@page "/empleados/edit"
@using Microsoft.EntityFrameworkCore
@using TareaFinal.Modelos
@inject IDbContextFactory<TareaFinal.Modelos.AppDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject TareaFinal.Modelos.AppDbContext DB
@rendermode InteractiveServer

<PageTitle>Editar Empleado</PageTitle>
<h2 class="centrar"><b>Editar Empleado</b></h2>


<hr />
@if (Empleado is null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <div class="row">
        <EditForm method="post" Model="Empleado" OnValidSubmit="UpdateEmpleado" FormName="edit" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary role="alert" />
            <input type="hidden" name="Empleado.Id" value="@Empleado.Id" />
            <div class="row">
                <div class="col-md-3">
                    <label for="codigo" class="form-label"><b>Código</b></label>
                    <InputText id="codigo" @bind-Value="Empleado.Codigo" class="form-control" />
                    <ValidationMessage For="() => Empleado.Codigo" class="text-danger" />
                </div>
                <div class="col-md-3">
                    <label for="cedula" class="form-label"><b>Cédula</b></label>
                    <InputText id="cedula" @bind-Value="Empleado.Cedula" class="form-control" />
                    <ValidationMessage For="() => Empleado.Cedula" class="text-danger" />
                </div>
                <div class="col-md-3">
                    <label for="fechanacimiento" class="form-label"><b>Fecha de Nacimiento</b></label>
                    <InputDate id="fechanacimiento" @bind-Value="Empleado.FechaNacimiento" class="form-control" aria-required="true" />
                    <ValidationMessage For="() => Empleado.FechaNacimiento" class="text-danger" />
                </div>
                <div class="col-md-3">
                    <label for="fechaingreso" class="form-label"><b>Fecha de Ingreso</b></label>
                    <InputDate id="fechaingreso" @bind-Value="Empleado.FechaIngreso" class="form-control" />
                    <ValidationMessage For="() => Empleado.FechaIngreso" class="text-danger" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="nombre" class="form-label"><b>Nombre</b></label>
                    <InputText id="nombre" @bind-Value="Empleado.Nombre" class="form-control" aria-required="true" />
                    <ValidationMessage For="() => Empleado.Nombre" class="text-danger" />
                </div>
                <div class="col-md-6">
                    <label for="apellido" class="form-label"><b>Apellido</b></label>
                    <InputText id="apellido" @bind-Value="Empleado.Apellido" class="form-control" />
                    <ValidationMessage For="() => Empleado.Apellido" class="text-danger" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label for="sexo" class="form-label"><b>Sexo</b></label>
                    <InputSelect id="sexo" @bind-Value="Empleado.Sexo" class="form-select">
                        <option checked="@(Empleado!.Sexo== "Masculino")" value="Masculino">Masculino</option>>
                        <option checked="@(Empleado!.Sexo== "Femenino")" value="Femenino">Femenino</option>
                    </InputSelect>
                    <ValidationMessage For="() => Empleado.Sexo" class="text-danger" />
                </div>
                <div class="col-md-4">
                    <label for="estadocivil" class="form-label"><b>Estado Civil</b></label>
                    <InputSelect id="estadocivil" @bind-Value="Empleado.EstadoCivil" class="form-select">
                        <option checked="@(Empleado!.EstadoCivil== "Casaso")" value="Casaso">Casado</option>
                        <option checked="@(Empleado!.EstadoCivil== "Divorciado")" value="Divorciado">Divorciado</option>
                        <option checked="@(Empleado!.EstadoCivil== "Separado")" value="Separado">Separado</option>
                        <option checked="@(Empleado!.EstadoCivil== "Soltero")" value="Soltero">Soltero</option>
                        <option checked="@(Empleado!.EstadoCivil== "Viudo")" value="Viudo">Viudo</option>
                    </InputSelect>
                    <ValidationMessage For="() => Empleado.EstadoCivil" class="text-danger" />
                </div>
                <div class="col-md-4">
                    <label for="tiposangre" class="form-label"><b>Tipo de Sangre</b></label>
                    <InputSelect id="tiposangre" @bind-Value="Empleado.TipoSangre" class="form-select">
                        <option checked="@(Empleado!.TipoSangre== "O -")" value="O -">O -</option>
                        <option checked="@(Empleado!.TipoSangre== "O +")" value="O +">O +</option>
                        <option checked="@(Empleado!.TipoSangre== "A -")" value="A -">A -</option>
                        <option checked="@(Empleado!.TipoSangre== "A +")" value="A +">A +</option>
                        <option checked="@(Empleado!.TipoSangre== "B -")" alue="B -">B -</option>
                        <option checked="@(Empleado!.TipoSangre== "B +")" value="B +">B +</option>
                        <option checked="@(Empleado!.TipoSangre== "AB -")" value="AB -">AB -</option>
                        <option checked="@(Empleado!.TipoSangre== "AB +")" value="AB +">AB +</option>
                    </InputSelect>
                    <ValidationMessage For="() => Empleado.TipoSangre" class="text-danger" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label for="nacionalidad" class="form-label"><b>Nacionalidad</b></label>
                    <InputSelect id="nacionalidad" @bind-Value="Empleado.Nacionalidad" class="form-select">
                        @foreach (var nacionalidad in Nacionalidades)
                        {
                            <option value="@nacionalidad.Nombre">@nacionalidad.Nombre</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Empleado.Nacionalidad" class="text-danger" />
                </div>
                <div class="col-md-4">
                    <label for="religion" class="form-label"><b>Religión</b></label>
                    <InputSelect id="religion" @bind-Value="Empleado.Religion" class="form-select">
                        @foreach (var religion in Religiones)
                        {
                            <option value="@religion.Nombre">@religion.Nombre</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Empleado.Religion" class="text-danger" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="direccion" class="form-label"><b>Dirección</b></label>
                    <InputText id="direccion" @bind-Value="Empleado.Direccion" class="form-control" />
                    <ValidationMessage For="() => Empleado.Direccion" class="text-danger" />
                </div>
                <div class="col-md-3">
                    <label for="telefono" class="form-label"><b>Teléfono</b></label>
                    <InputText id="telefono" @bind-Value="Empleado.Telefono" class="form-control" />
                    <ValidationMessage For="() => Empleado.Telefono" class="text-danger" />
                </div>
                <div class="col-md-3">
                    <label for="email" class="form-label"><b>Email</b></label>
                    <InputText id="email" @bind-Value="Empleado.Email" class="form-control" />
                    <ValidationMessage For="() => Empleado.Email" class="text-danger" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="nombrecontactoemergencia" class="form-label"><b>Nombre Contacto de Emergencia</b></label>
                    <InputText id="nombrecontactoemergencia" @bind-Value="Empleado.NombreContactoEmergencia" class="form-control" />
                    <ValidationMessage For="() => Empleado.NombreContactoEmergencia" class="text-danger" />
                </div>
                <div class="col-md-6">
                    <label for="telefonoemergencia" class="form-label"><b>Teléfono Contacto de Emergencia</b></label>
                    <InputText id="telefonoemergencia" @bind-Value="Empleado.TelefonoEmergencia" class="form-control" />
                    <ValidationMessage For="() => Empleado.TelefonoEmergencia" class="text-danger" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label for="salariomensual" class="form-label"><b>Salario Mensual</b></label>
                    <InputText id="salariomensual" @bind-Value="Empleado.SalarioMensual" class="form-control" />
                    <ValidationMessage For="() => Empleado.SalarioMensual" class="text-danger" />
                </div>
                <div class="col-md-3">
                    <label for="departamentoquepertenece" class="form-label"><b>Departamento de Trabajo</b></label>
                    <InputSelect id="departamentoquepertenece" @bind-Value="Empleado.DepartamentoQuePertenece" class="form-select">
                        @foreach (var departamentoquepertenece in AfpQuePerteneces)
                        {
                            <option value="@departamentoquepertenece.Nombre">@departamentoquepertenece.Nombre</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Empleado.DepartamentoQuePertenece" class="text-danger" />
                </div>
                <div class="col-md-3">
                    <label for="afpquepertenece" class="form-label"><b>AFP</b></label>
                    <InputSelect id="afpquepertenece" @bind-Value="Empleado.AfpQuePertenece" class="form-select">
                        @foreach (var departamentoquepertenece in AfpQuePerteneces)
                        {
                            <option value="@departamentoquepertenece.Nombre">@departamentoquepertenece.Nombre</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Empleado.AfpQuePertenece" class="text-danger" />
                </div>
                <div class="col-md-3">
                    <label for="arsquepertenece" class="form-label"><b>ARS</b></label>
                    <InputSelect id="arsquepertenece" @bind-Value="Empleado.ArsQuePertenece" class="form-select">
                        @foreach (var arsquepertenece in ArsQuePerteneces)
                        {
                            <option value="@arsquepertenece.Nombre">@arsquepertenece.Nombre</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Empleado.ArsQuePertenece" class="text-danger" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="observaciones" class="form-label"><b>Observaciones</b></label>
                    <InputTextArea id="observaciones" @bind-Value="Empleado.Observaciones" class="form-control"></InputTextArea>
                    <ValidationMessage For="() => Empleado.Observaciones" class="text-danger" />
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary"><b>Guardar</b></button> | <a href="/empleados" class="btn btn-primary"><b>Volver al Listado</b></a>
                </div>
            </div>
        </EditForm>
    </div>
}



@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Empleado? Empleado { get; set; }

    public List<Nacionalidad> Nacionalidades = new List<Nacionalidad>();
    public List<Religion> Religiones = new List<Religion>();
    public List<Departamento> Departamentos = new List<Departamento>();
    public List<AFP> AfpQuePerteneces = new List<AFP>();
    public List<ARS> ArsQuePerteneces = new List<ARS>();

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Empleado ??= await context.Empleado.FirstOrDefaultAsync(m => m.Id == Id && m.Inactivo == false);

        if (Empleado is null)
        {
            NavigationManager.NavigateTo("notfound");
        }

        Nacionalidades = DB.Nacionalidad.ToList(); //Carga los datos de nacionalidades
        Religiones = DB.Religion.ToList(); //Carga los datos de religiones
        Departamentos = DB.Departamento.ToList(); //Carga los datos de Departamentos
        AfpQuePerteneces = DB.AFP.ToList(); //Carga los datos de AFP
        ArsQuePerteneces = DB.ARS.ToList(); //Carga los datos de ARS
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateEmpleado()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Empleado!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!EmpleadoExists(Empleado!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/empleados");
    }

    private bool EmpleadoExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Empleado.Any(e => e.Id == id);
    }
}
